*.class

# Target folders.
/target
/scripts/byte_mods/target

# Flamegraph
flamegraph.svg
perf.data
perf.data.old

# Mypy
.mypy_cache

# JetBrains IDEs
.idea

# Aftermath_libjimage_bind CMake Build cache.
/aftermath_libjimage_bind/cmake-build-debug/
